@media screen and (max-width: 600px) {
    .main-div{
        height: auto;
        width: 400px !important;
        background-color: white;
        margin: 0px auto;
    }
    .new{
        height: 40px !important;
        width: 80px !important;
        font-size: 15px;
    }
  }


  @media screen and (max-width: 420px) {
    .main-div{
        height: auto !important;
        width: 350px !important;
        background-color: white;
        margin: 0px auto;
    }

    .add{
        height: 40px;
        width: 40px;
    }
  }


  @media screen and (max-width: 365px) {
    .main-div{
        height: auto !important;
        width: 300px !important;
        background-color: white;
        margin: 0px auto;
    }

    .add{
        height: 30px;
        width: 30px;
    }

    
.date{
    font-size: 7px !important;}
.task{
    font-size: 10px !important;
}

.new{
    height: 40px !important;
    width: 60px !important;
    font-size: 12px !important;
    text-align: center;
}


/* @media screen and (max-width: 768px) {

    .new{
    height: 30px;
    width: 100px;
    font-size: 12px;
    text-align: center;
}

  } */
}